@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('./styles/variables.css');

* {
  font-family: 'Comfortaa', sans-serif;
}

html,
body {
  background-color: var(--white);
  color: var(--white);
  padding: 0;
  margin: 0;
}

body {
  padding-left: 0;
  transition: padding-left 300ms ease-in-out;
}

body.loggedIn {
  padding-left: var(--nav-width);
}

main {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 3em;
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
  border-radius: 7px;
  background-color: var(--gunmetal);
  height: 60vh;
  box-shadow: -3px 3px 15px 10px rgba(0, 0, 0, 0.15);
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
